<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web@cadémie Intranet - {% block title %}{% endblock title %}</title>
    
    <link rel="icon" type="image/png" href="{{ asset('assets/images/logos/webacademie/logo_webacademie_dark.png') }}" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />

    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body>
{% block body %}
{% endblock body %}

{% block scripts %}
{% endblock scripts %}
</body>
</html>
